.Privacy {
    font-size: 1.6rem;
    color: #fff7e3;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto 10rem auto;
    text-align: justify;
    padding: 2rem 4rem;
}

.privacyMainTitle {
    font-size: 5.2rem;
    color: #fff7e3;
    font-weight: bold;
    padding: 18rem 0 0;
    margin-bottom: 6rem;
    align-self: center;
}

.privacyContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 4rem;
    background-color: rgba(218, 165, 32, 0.1);
}

.privacyTitle {
    font-size: 3.2rem;
    font-weight: bold;
}

.privacyDescription {
    display: flex;
    flex-direction: column;
    font-size: 1.8rem;
    gap: 2rem;
    margin-bottom: 5rem;
}

@media (max-width: 100rem) {
    .Privacy {
        width: 90%;
    }
}