.Privacy {
    font-size: 1.6rem;
    color: #fff7e3;
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    margin: 0 auto 10rem auto;
    text-align: justify;
    gap: 4rem;
}


.privacyMainTitle{
    font-size: 5.2rem;
    color: #fff7e3;
    font-weight: bold;
    padding: 20rem 0 0;
    margin-bottom: 10rem;

}

.privacyContainer{display: flex;
flex-direction: column;
gap: 2rem;}
.privacyTitle{
    font-size: 2.4rem;
    font-weight: bold;
}
.privacyDescription{
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
}