.PersonalDetail {
    width: 80%;
    margin: 0 auto;
    padding-top: 18rem;
    padding: 17rem 8.4rem 5rem;
    color: aliceblue;
    background-color: rgba(0, 0, 0);
    font-size: 1.8rem;
    display: flex;
    flex-direction: column;



    box-shadow: 0px 0px 10px var(--btnBorderBackground);
}

.stepPersonalDetail {
    text-align: center;
    margin: 4rem;
    font-size: 2.6rem;
}

.personalDetailInfoContainer {
    display: flex;
    flex-direction: column;
    gap: 4.4rem;
    margin: 0 auto 10rem auto;
}

.personalDetailMainTitle {
    font-size: 3.6rem;
    font-weight: bold;
    color: var(--mainTitle);
    margin-bottom: 4rem;
    text-align: center;
}

.personalDetailTitle {
    font-size: 3.2rem;
    margin-bottom: 0.6rem;
    font-weight: bold;
    color: var(--normalTitle);
}

.personalDetailInput {
    width: 44rem;
    height: 4rem;
    padding: 0 1rem;
    font-size: 2rem;
    color: var(--inputText);
}

.personalDetailGender {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 4.4rem;
    color: var(--normalTitle);
}

.genderContainer {
    display: flex;
    gap: 4rem;
    font-size: 2.4rem;
}

.genderContainer input {
    width: 1.8rem;
    height: 1.8rem;
}

.btnNAPContainer {
    display: flex;
    justify-content: space-between;
}

.btnPrevOffer {
    width: 20rem;
    height: 5rem;
    font-size: 2.4rem;
    /* margin-bottom: 1rem; */
    cursor: pointer;
    background-color: var(--btnBackground);
    border: 2px solid var(--btnBorderBackground);
    align-self: flex-end;
    justify-self: flex-end;
    font-weight: bold;
    color: var(--btnText);
    clip-path: polygon(15% 0, 100% 0, 100% 100%, 15% 100%, 0 50%);
}

.btnPrevOffer:hover {
    background-color: var(--btnBackgroundHover);
    border: 2px solid var(--btnBorderBackgroundHover);
    color: var(--btnTextHover);
    transition: 0.4s;
}

.btnNextOffer {
    width: 20rem;
    height: 5rem;
    font-size: 2.4rem;
    cursor: pointer;
    background-color: var(--btnBackground);
    border: 2px solid var(--btnBorderBackground);
    align-self: flex-end;
    justify-self: flex-end;
    font-weight: bold;
    color: var(--btnText);
    clip-path: polygon(85% 0, 100% 50%, 85% 100%, 0 100%, 0 0);
}

.btnNextOffer:hover {
    background-color: var(--btnBackgroundHover);
    border: 2px solid var(--btnBorderBackgroundHover);
    color: var(--btnTextHover);
    transition: 0.4s;
}