@media (max-width: 100rem) {
    .inventoryMainImg {
        height: 54rem;
    }

    .inventoryMainTitle {
        font-size: 5.4rem;
        top: 30rem;
        left: 68rem;
    }

    .carMainList {
        width: 90%;
    }

    .filterTitle {
        font-size: 4.2rem;
    }

    .carName {
        font-size: 2.8rem;
    }

    .carPrice {
        font-size: 2.2rem;
    }

    .carBodyStyle {
        font-size: 2.2rem;
    }

    .btnCheckOut {
        width: 20rem;
        height: 4.8rem;
    }
}

@media (max-width: 85rem) {
    .inventoryMainTitle {
        font-size: 5rem;
        left: 60rem;
    }

    .btnCheckOut {
        width: 18rem;
        height: 4.4rem;
    }
}

@media (max-width: 70rem) {
    .inventoryMainTitle {
        font-size: 4.6rem;
        left: 52rem;
    }

    .filterContainer {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 55rem) {
    .inventoryMainTitle {
        font-size: 4.2rem;
        left: 38rem;
    }

    .carMainList {
        width: 100%;
    }

    .filterArea {
        padding: 8rem 8rem 0rem;
    }

    .carListContainer {
        padding: 12rem 8rem 8rem;
    }
}

@media (max-width: 40rem) {
    .perCarContainer {
        padding: 0.2rem;
        grid-template-rows: 18rem;
        grid-template-columns: 2fr 3fr 0.8fr;
    }

    .carCardInfo {
        gap: 0.6rem;
    }

    .carName {
        font-size: 2.4rem;
    }

    .carPrice {
        font-size: 1.6rem;
    }

    .carBodyStyle {
        font-size: 1.6rem;
    }
}

@media (max-width: 32rem) {
    .inventoryMainTitle {
        font-size: 4.6rem;
        left: 32rem;
    }
}


@media (max-width: 28rem) {
    .inventoryMainTitle {
        left: 28rem;
    }

    .filterContainer {
       
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 26rem) {
    .inventoryMainTitle {
        left: 24rem;
    }
}

@media (max-width: 24rem) {
    .inventoryMainTitle {
        left: 20rem;
    }
}