@media (max-width: 100rem) {
    .VehicleDetail {
        width: 90%;
    }
}

@media (max-width: 85rem) {
    .fullInfoVehicleContainer {
        gap: 1.8rem;
        padding: 5rem 3.2rem;
    }

    .selectedMainImg {
        width: 100%;
        height: 40rem;
    }

    .vehicleDetailName {
        font-size: 4.4rem;
    }

    .vehicleDetailPrice {
        font-size: 3rem;
        width: 18rem;
    }
}

@media (max-width: 70rem) {
    .VehicleDetail {
        width: 90%;
    }

    .fullInfoVehicleContainer {
        gap: 1.8rem;
        padding: 2rem 6rem;
        grid-template-columns: 1fr;
    }

    .selectedMainImg {
        height: 50rem;
    }

    .vehicleNamePriceContainer {
        padding: 0 6rem;
    }

    .detailSpecificContainer {
        grid-column-start: auto;
        grid-column-end: auto;
    }



}

@media (max-width: 55rem) {
    .fullInfoVehicleContainer {
        gap: 1.8rem;
        padding: 2rem 5.6rem;
        grid-template-columns: 1fr;
    }

    .selectedMainImg {
        height: 38rem;
    }

    .vehicleDetailName {
        font-size: 4rem;
    }

    .vehicleDetailPrice {
        font-size: 2.6rem;
        width: 16rem;
    }
}