.VehicleDetail {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 20rem 0 10rem 0;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.fullInfoVehicleContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 2rem;
    padding: 5rem 2rem;
    background-color: rgb(0, 0, 0);
}

.selectedImgContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 0.6rem;
    padding: 1rem;
    position: relative;
    overflow: hidden;
    filter: brightness(75%);
}

.span1 {
    width: 100%;
    height: 1px;
    top: 0;
    left: -100%;
    background: linear-gradient(to left, rgb(255, 251, 0), transparent);
    position: absolute;
    animation: move1 5s linear infinite;
}

@keyframes move1 {
    100% {
        transform: translateX(200%);
    }
}

.span2 {
    width: 1px;
    height: 100%;
    top: -100%;
    right: 0;
    background: linear-gradient(to top, #fff7e3, transparent);
    position: absolute;
    animation: move2 5s linear 2.5s infinite;
}

@keyframes move2 {
    100% {
        transform: translateY(200%);
    }
}

.span3 {
    width: 100%;
    height: 1px;
    top: calc(100% - 1px);
    left: 100%;
    background: linear-gradient(to right, rgb(255, 251, 0), transparent);
    position: absolute;
    animation: move3 5s linear infinite;
}

@keyframes move3 {
    100% {
        transform: translateX(-200%);
    }
}

.span4 {
    width: 1px;
    height: 100%;
    top: 100%;
    right: calc(100% - 1px);
    background: linear-gradient(to bottom, #fff7e3, transparent);
    position: absolute;
    animation: move4 5s linear 2.5s infinite;
}

@keyframes move4 {
    100% {
        transform: translateY(-200%);
    }
}

.selectedMainImg {
    width: 100%;
    height: 40rem;
}

.selectedMainVehicleImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.selectedListImg {
    display: flex;
    overflow-x: scroll;
}

.scrollImg {
    display: flex;
    gap: 0.4rem;
    border: 1px solid black;
}

.selectedVehicleImg {
    width: 18rem;
    height: 10rem;
    object-fit: cover;
}

.vehicleNamePriceContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    margin-bottom: 5.2rem;
}

.vehicleDetailName {
    font-size: 5.2rem;
    color: var(--normalTitle);
    font-weight: bold;
}

.vehicleDetailPrice {
    font-size: 3.6rem;
    color: var(--tagsText);
    font-weight: bold;
    width: 20rem;
    padding: 0.5rem 0.5rem 0.5rem 3rem;
    text-align: center;
    background-color: var(--tags);

    clip-path: polygon(15% 0, 100% 0, 100% 100%, 15% 100%, 0 50%);
}

.infoPerCarContainer {
    display: flex;
    flex-direction: column;
    font-size: 1.8rem;
    gap: 1rem;
    padding: 1rem;
    border: 1px solid var(--btnBorderBackground);
}

.overviewTitle {
    font-size: 3.6rem;
    font-weight: bold;
    color: var(--normalTitle);
}

.companyALogo {
    font-size: 2.8rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    font-weight: bold;
    background-image: linear-gradient(to right, rgb(170, 170, 170), black);
    padding: 0.5rem 1rem;
    width: 60%;
    color: var(--normalText);
}

.perCarLogo {
    height: 6.4rem;
}

.perCarDes {
    font-size: 2.4rem;
    margin-bottom: 2rem;
    color: var(--normalText);
}

.detailInfoContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 2.2rem;
    gap: 0.6rem;
    margin-bottom: 3.6rem;
    color: var(--normalText);
}

.linkPerCar {
    width: 18rem;
    background-color: var(--tags);
    text-decoration: none;
    color: var(--tagsText);
    font-weight: bold;
    height: 4rem;
    padding: 1rem 1.5rem;
    clip-path: polygon(85% 0, 100% 50%, 85% 100%, 0 100%, 0 0);
}

.linkPerCar:hover {
    background-color: var(--tagsHover);
    color: var(--tagsTextHover);
}

.btnBuyNow {
    width: 20rem;
    height: 5rem;
    font-size: 2.4rem;
    background-color: var(--btnBackground);
    cursor: pointer;
    border: 2px solid var(--btnBorderBackground);
    align-self: flex-end;
    justify-self: flex-end;
    color: var(--btnText);
}

.btnBuyNow:hover {
    background-color: var(--btnBackgroundHover);
    border: 2px solid var(--btnBorderBackgroundHover);
    color: var(--btnTextHover);
    transition: 0.4s;
}


.detailSpecificContainer {
    font-size: 1.6rem;
    color: var(--normalTextDark);
    /* padding: 1rem; */
    border-top: 1px solid var(--btnBorderBackground);
    grid-column-start: -3;
    grid-column-end: -1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 3.6rem;
}

.detailTitle {
    font-size: 5.2rem;
    font-weight: bold;
    color: var(--normalTitle);
    padding: 2rem 6rem;
}

.featureContainer {
    display: flex;
    flex-direction: column;
    /* gap: 1rem; */
    font-size: 4.4rem;

}

.featureBtn {
    font-weight: bold;
    background-color: var(--normalTextDark);
    color: var(--normalText);
    display: flex;
    /* border: 2px solid var(--btnBorderBackground); */
    justify-content: space-between;
    align-items: center;
    padding: 2rem 6rem;

}

.featureModal {
    display: flex;
    flex-direction: column;
    gap: 5.2rem;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2rem 6rem 4rem;
    /* box-shadow: 0px 0px 1px var(--btnBorderBackground); */

    border: 1px solid var(--normalTextDark);
    border-top: none;
}

.featureInfo {
    display: flex;
    flex-direction: column;
    gap: 2rem;

}

.featureTitle {
    box-shadow: 0px 1px 0px var(--btnBorderBackgroundHover);
    font-size: 3.6rem;
    color: var(--normalTitle);
    font-weight: bold;
}

.featureDes {
    display: flex;
    flex-direction: column;
    font-size: 2.6rem;
    gap: 1.2rem;
    color: var(--normalText);
}





.specificationContainer {
    display: flex;
    flex-direction: column;
    /* gap: 1rem; */
    font-size: 4.4rem;
}

.specificationBtn {
    font-weight: bold;
    background-color: var(--normalTextDark);
    color: var(--normalText);
    display: flex;
    /* border: 2px solid var(--btnBorderBackground); */
    justify-content: space-between;
    align-items: center;
    padding: 2rem 6rem;
}

.specificationModal {
    display: flex;
    flex-direction: column;
    gap: 5.2rem;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2rem 6rem 4rem;
    border: 1px solid var(--normalTextDark);
    border-top: none;
}

.specificationInfo {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.specificationTitle {
    box-shadow: 0px 1px 0px var(--btnBorderBackgroundHover);
    font-size: 3.6rem;
    color: var(--normalTitle);
    font-weight: bold;
}

.specificationDesContainer {}

.subSpecificationDesContainer {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    font-size: 2.6rem;

    color: var(--normalText);
}

.subDesTitle {
    margin-bottom: 2rem;
}


.warrantyContainer {
    display: flex;
    flex-direction: column;
    font-size: 4.4rem;
}

.warrantyBtn {
    font-weight: bold;
    background-color: var(--normalTextDark);
    color: var(--normalText);
    display: flex;
    /* border: 2px solid var(--btnBorderBackground); */
    justify-content: space-between;
    align-items: center;
    padding: 2rem 6rem;
}

.warrantyModal {
    display: flex;
    flex-direction: column;
    gap: 5.2rem;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 2.6rem;
    color: var(--normalText);
    padding: 2rem 6rem 4rem;
    border: 1px solid var(--normalTextDark);
    border-top: none;
}