@media (max-width: 100rem) {
    .VehicleDetail {
        width: 90%;
    }
}

@media (max-width: 85rem) {
    .fullInfoVehicleContainer {
        gap: 1.8rem;
        padding: 5rem 3.2rem;
    }

    .selectedMainImg {
        width: 100%;
        height: 40rem;
    }

    .vehicleDetailName {
        font-size: 4.4rem;
    }

    .vehicleDetailPrice {
        font-size: 3rem;
        width: 18rem;
    }
}

@media (max-width: 70rem) {
    .VehicleDetail {
        width: 90%;
    }

    .fullInfoVehicleContainer {
        gap: 1.8rem;
        padding: 2rem 6rem;
        grid-template-columns: 1fr;
    }

    .selectedMainImg {
        height: 50rem;
    }

    .vehicleNamePriceContainer {
        padding: 0 6rem;
    }

    .detailSpecificContainer {
        grid-column-start: auto;
        grid-column-end: auto;
    }



}

@media (max-width: 55rem) {
    .fullInfoVehicleContainer {
        gap: 1.8rem;
        padding: 2rem 3.8rem;
        grid-template-columns: 1fr;
    }

    .selectedMainImg {
        height: 38rem;
    }

    .vehicleDetailName {
        font-size: 4rem;
    }

    .vehicleDetailPrice {
        font-size: 2.6rem;
        width: 16rem;
    }

    .detailTitle {
        font-size: 4.4rem;
        padding: 2rem 3.2rem;
    }


    .featureBtn {
        padding: 2rem 3.2rem;
    }

    .featureModal {
        padding: 2rem 3.2rem 4rem;
    }


    .specificationBtn {
        padding: 2rem 3.2rem;
    }

    .specificationModal {
        padding: 2rem 3.2rem 4rem;
    }

    .warrantyBtn {
        padding: 2rem 3.2rem;
    }

    .warrantyModal {
        padding: 2rem 3.2rem 4rem;

    }
}






@media (max-width: 26rem) {
    .fullInfoVehicleContainer {
        padding: 2rem 2.4rem;
    }

    .detailTitle {
        font-size: 4.4rem;
        padding: 2rem 2.4rem;
    }

    .featureContainer {
        font-size: 3.6rem;
    }

    .featureBtn {
        padding: 2rem 2.4rem;
    }

    .featureModal {
        padding: 2rem 2.4rem 4rem;
    }


    .featureTitle {
        font-size: 3.2rem;
    }

    .featureDes {
        font-size: 2.4rem;
    }

    .specificationContainer {
        font-size: 3.6rem;
    }


    .specificationBtn {
        padding: 2rem 2.4rem;
    }

    .specificationModal {
        padding: 2rem 2.4rem 4rem;
    }

    .specificationTitle {
        font-size: 3.2rem;
    }

    .subSpecificationDesContainer {
        font-size: 2.4rem;
    }

    .warrantyContainer {
        font-size: 3.6rem;
    }


    .warrantyBtn {
        padding: 2rem 2.4rem;
    }

    .warrantyModal {
        padding: 2rem 2.4rem 4rem;
        font-size: 2.4rem;
    }
}