.Intro {
    position: relative;
    margin-bottom: 10rem;
}

.Background {
    width: 100%;
    height: 100vh;
}

.backgroundImg {
    display: block;
    width: 100%;
    height: 100%;
    /* height: 3rem; */
    z-index: 1;
    filter: brightness(60%);
    object-fit: cover;
}

.mainTitle {
    position: absolute;
    font-size: 6.4rem;
    color: #fff7e3;
    top: 30rem;
    left: 20rem;
    font-weight: bold;
    font-family: sans-serif;
    transform: translateY(-7.2rem);
    animation: titleUp 1s;
}

@keyframes titleUp {
    0% {
        transform: translateY(0);
        filter: opacity(0);
    }
}



/* EXPLORE MORE */
.exploreContainer {
    padding-top: 14rem;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    gap: 4rem;
}

.exploreTitle {
    font-size: 5.2rem;
    color: #fff7e3;
    margin-bottom: 4rem;
    /* filter: opacity(0); */
    transition: 0.6s;
    font-weight: bold;
}

.companyIntro {
    display: flex;
    width: 100%;
    height: 50rem;
    padding: 2.4rem;
    gap: 5.2rem;
}

.introTitle {
    flex-basis: 50%;
    color: #ffffff;
    font-size: 2.8rem;
    /* filter: opacity(0); */
    transition: 0.6s;
}

.introVideo {
    flex-basis: 50%;
    border: none;
    /* filter: opacity(0); */
    transition: 0.6s;
}



/* OUR CARS */
.introOurCars {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 6rem auto 0 auto;
    background-color: rgba(0, 0, 0, 0.5);
    width: 80%;
    padding: 2rem;
}

.ourCarsTitle {
    font-size: 5.2rem;
    color: #fff7e3;
    margin-bottom: 10rem;
    padding-top: 4rem;
    /* filter: opacity(0); */
    transition: 1s;
    font-weight: bold;
}

.introCarImgs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    width: 100%;
    gap: 2rem;
    /* filter: opacity(0); */
    margin: 0 auto;
    transition: 1s;
}

.ourCarImgContainer {
    overflow: hidden;
    position: relative;
}

.introCarImg {
    clip-path: polygon(90% 0, 100% 20%, 100% 100%, 0 100%, 0 0);
    object-fit: cover;
    width: 100%;
    height: 40rem;
    filter: brightness(70%);
}

.introCarImg:hover {
    transform: scale(1.3);
    transition: 0.8s;
}

.nameAndPrice {
    color: #fff7e3;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(1rem, 1rem);
    font-size: 3rem;
    font-weight: bold;
}

.btnViewInventory {
    width: 40rem;
    height: 5.2rem;
    font-size: 2.8rem;
    padding: 1rem;
    margin-top: 6rem;
    background-image: linear-gradient(to top right, #D1B000, #FFE55C);
    cursor: pointer;
    border: 2px solid goldenrod;
    color: #2e291f;
    border-radius: 2px;
    font-weight: bold;
}

.btnViewInventory:hover {
    background-image: linear-gradient(to top right, #698f00, #88ff00);
    border: 2px solid rgb(33, 143, 0);
    color: #000000;
    transition: 0.4s;
}




/* CLIENT REVIEWS */
.introClient {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    padding: 2rem 6rem;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.ourClientReviews {
    font-size: 5.2rem;
    color: #fff7e3;
    font-weight: bold;
    margin: 6rem 0;
}

.reviewContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.slideCus {
    filter: brightness(80%);
    display: grid;
    grid-template-columns: 20rem 1fr;
    grid-template-rows: 20rem;
    gap: 2rem;
    padding: 2rem;
    background-image: linear-gradient(to top right, #aa9100, #fde776);
    border-radius: 2px;
}

.cusImgContainer {
    overflow: hidden;
    border-radius: 150px;
}

.cusImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.reviewNameADes {
    padding: 1rem 0;
    color: #2e291f;
    text-align: justify;
}

.cusName {
    font-size: 2.8rem;
    text-transform: uppercase;
}

.cusDes {
    font-size: 2.2rem;
}



/* OUR PARTNERS */
.ourPartnersContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8rem 0;
    gap: 4rem;
    background-color: rgba(0, 0, 0, 0.5);
}

.ourPartnersTitle {
    font-size: 5.2rem;
    color: #fff7e3;
    transition: 1s;
    font-weight: bold;
}

.logoContainer {
    display: flex;
    gap: 4rem;
    background-color: rgba(255, 238, 165, 0.5);
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 1.6rem;
}

.introLogo img {
    height: 10rem;
    filter: brightness(85%);
}

.mapdm {
    width: 500px;
    height: 500px;
}