.Offer {
    width: 80%;
    margin: 0 auto;
    padding-top: 18rem;
    padding: 17rem 8.4rem 5rem;
    color: aliceblue;
    background-color: rgba(0, 0, 0);
    font-size: 1.8rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px goldenrod;
}

.stepOffer {
    text-align: center;
    margin: 4rem;
    font-size: 2.6rem;
}

.offerCarInfoContainer {
    display: flex;
    flex-direction: column;
    gap: 4.4rem;
}

.offerCarMainTitle {
    font-size: 3.6rem;
    font-weight: bold;
    color: rgb(241, 205, 0);
    margin-bottom: 4rem;
    text-align: center;
}

.offerCarTitle {
    font-size: 3.2rem;
    margin-bottom: 0.6rem;
    font-weight: bold;
    color: rgb(240, 204, 0);
}

.offerCarDes {
    font-size: 2.4rem;
}

.offerCarImg {
    height: 35rem;
    object-fit: cover;
    margin-bottom: 2rem;
}

.offerCarCheckContainer {
    display: flex;
    align-items: center;
    gap: 3.2rem;
    margin-bottom: 4.4rem;
}

.offerCheckBox {
    width: 1.8rem;
    height: 1.8rem;
}

.offerCarPolicy {
    font-size: 1.8rem;
}

.btnNAPContainer {
    display: flex;
    justify-content: space-between;
}

.btnPrevOffer {
    width: 20rem;
    height: 5rem;
    font-size: 2.4rem;
    background-image: linear-gradient(to top right, #D1B000, #FFE55C);
    cursor: pointer;
    border: 2px solid goldenrod;
    align-self: flex-end;
    justify-self: flex-end;
    font-weight: bold;
    clip-path: polygon(15% 0, 100% 0, 100% 100%, 15% 100%, 0 50%);
}

.btnPrevOffer:hover {
    background-image: linear-gradient(to top right, #698f00, #88ff00);
    border: 2px solid rgb(33, 143, 0);
    color: #000000;
    transition: 0.4s;
}

.btnNextOffer {
    width: 20rem;
    height: 5rem;
    font-size: 2.4rem;
    background-image: linear-gradient(to top right, #D1B000, #FFE55C);
    cursor: pointer;
    border: 2px solid goldenrod;
    align-self: flex-end;
    justify-self: flex-end;
    font-weight: bold;
    clip-path: polygon(85% 0, 100% 50%, 85% 100%, 0 100%, 0 0);
}

.btnNextOffer:hover {
    background-image: linear-gradient(to top right, #698f00, #88ff00);
    border: 2px solid rgb(33, 143, 0);
    color: #000000;
    transition: 0.4s;
}