.Offer {
    width: 80%;
    margin: 0 auto;
    padding-top: 18rem;
    padding: 17rem 8.4rem 5rem;
    color: aliceblue;
    background-color: rgba(0, 0, 0);
    font-size: 1.8rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px var(--btnBorderBackground);
}

.stepOffer {
    text-align: center;
    margin: 4rem;
    font-size: 2.6rem;
}

.offerCarInfoContainer {
    display: flex;
    flex-direction: column;
    gap: 4.4rem;
}

.offerCarMainTitle {
    font-size: 3.6rem;
    font-weight: bold;
    color: var(--mainTitle);
    margin-bottom: 4rem;
    text-align: center;
}

.offerCarTitle {
    font-size: 3.2rem;
    margin-bottom: 0.6rem;
    font-weight: bold;
    color: var(--normalTitle);
}

.offerCarDes {
    font-size: 2.4rem;
    color: var(--normalText);
}

.offerCarImg {
    height: 35rem;
    object-fit: cover;
    margin-bottom: 2rem;
}

.offerCarCheckContainer {
    display: flex;
    align-items: center;
    gap: 3.2rem;
    margin-bottom: 4.4rem;
}

.offerCheckBox {
    width: 1.8rem;
    height: 1.8rem;
}

.offerCarPolicy {
    font-size: 1.8rem;
    color: var(--normalText);
}

.btnNAPContainer {
    display: flex;
    justify-content: space-between;
}

.btnPrevOffer {
    width: 20rem;
    height: 5rem;
    font-size: 2.4rem;
    background-color: var(--btnBackground);
    border: 2px solid var(--btnBorderBackground);
    color: var(--btnText);

    cursor: pointer;
    align-self: flex-end;
    justify-self: flex-end;
    font-weight: bold;
    clip-path: polygon(15% 0, 100% 0, 100% 100%, 15% 100%, 0 50%);
}

.btnPrevOffer:hover {
    background-color: var(--btnBackgroundHover);
    border: 2px solid var(--btnBorderBackgroundHover);
    color: var(--btnTextHover);
    transition: 0.4s;
}

.btnNextOffer {
    width: 20rem;
    height: 5rem;
    font-size: 2.4rem;
    background-color: var(--btnBackground);
    border: 2px solid var(--btnBorderBackground);
    cursor: pointer;
    align-self: flex-end;
    justify-self: flex-end;
    font-weight: bold;
    color: var(--btnText);
    clip-path: polygon(85% 0, 100% 50%, 85% 100%, 0 100%, 0 0);
}

.btnNextOffer:hover {
    background-color: var(--btnBackgroundHover);
    border: 2px solid var(--btnBorderBackgroundHover);
    color: var(--btnTextHover);
    transition: 0.4s;
}