* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 0.4px;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
    font-family: 'Oxygen', sans-serif;

}

.backgroundAll {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -5;
    filter: brightness(25%);
    object-fit: cover;
}



/* GOLD, SILVER, BLACK */

:root {
    --mainTitle: #ffee32;
    --mainTitle: #fff265;
    --normalTitle: #fecf3e;
    --normalTitleHover: #f9a620;
    --normalText: #d9d9d9;
    --normalTextDark: #353535;
    --inputText: #000;
    --tags: #fcf300;
    --tagsHover: #dbb42c;
    --tagsText: #242424;
    --tagsTextHover: #000;
    --btnBackground: #fcf300;
    --btnBackgroundHover: #fdb833;
    --btnBorderBackground: #ffc300;
    --btnBorderBackgroundHover: #e97100;
    --btnText: #212529;
    --btnTextHover: #0a0b0c;
}





/* RESPONSIVE======================== */
@media (max-width: 100rem) {
    html {
        font-size: 9px;
    }
}

@media (max-width: 70rem) {
    html {
        font-size: 8px;
    }
}

@media (max-width: 40rem) {
    html {
        font-size: 6px;
    }
}

@media (max-width: 32rem) {
    html {
        font-size: 5px;
    }
}