* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
    font-family: 'Oxygen', sans-serif;
}

.backgroundAll {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -5;
    filter: brightness(20%);
}