@media (max-width: 100rem) {
    .aboutUsMainImg {
        height: 54rem;
    }

    .aboutUsMainTitle {
        font-size: 5.4rem;
        top: 30rem;
        left: 66rem;
    }

    .aboutUsMainList {
        width: 90%;
        padding: 10rem 6rem 16rem 6rem;
    }

    .aboutUsInfo {
        gap: 4rem;
    }

    .aboutUsInfoWho {
        font-size: 4.8rem;
    }

    .aboutUsInfoDes {
        font-size: 2.2rem;
    }

    .aboutUsImgRootInfo {
        height: 52rem;
    }

    .aboutUsRootContainer {
        font-size: 2.4rem;
    }

    .aboutUsRootTop {
        font-size: 4.2rem;
    }

    .aboutUsRootBot {
        font-size: 2rem;
    }

    .aboutUsOurPeople {
        width: 90%;
        padding: 10rem 6rem;
        gap: 4rem;
    }

    .aboutUsOurPeopleTitle {
        font-size: 4.8rem;
    }
}

@media (max-width: 85rem) {
    .aboutUsMainTitle {
        font-size: 5rem;
        left: 52rem;
    }

    .aboutUsMainList {
        padding: 10rem 6rem 10rem 6rem;
    }

    .aboutUsInfoWho {
        font-size: 4.4rem;
    }

    .aboutUsInfoDes {
        font-size: 2rem;
    }

    .aboutUsImgRootInfo {
        height: 42rem;
    }

    .aboutUsRootContainer {
        font-size: 2.2rem;
    }

    .aboutUsRootTop {
        font-size: 3.8rem;
    }

    .aboutUsRootBot {
        font-size: 1.8rem;
    }

    .aboutUsOurPeople {
        width: 90%;
        padding: 10rem 6rem;
        gap: 4rem;
    }

    .aboutUsOurPeopleTitle {
        font-size: 4.6rem;
    }

    .leaderFounderContainer {
        font-size: 2.4rem;
    }
}

@media (max-width: 70rem) {
    .aboutUsMainTitle {
        font-size: 4.6rem;
        left: 50rem;
    }

    .aboutUsMainList {
        padding: 8rem 6rem 8rem 6rem;
    }

    .aboutUsInfoWho {
        font-size: 4rem;
    }

    .aboutUsImgRootInfo {
        height: 38rem;
        gap: 0rem;
    }

    .aboutUsRootContainer {
        font-size: 2rem;
        gap: 1rem;
    }

    .aboutUsRootTop {
        font-size: 4rem;
    }

    .aboutUsRootBot {
        font-size: 1.8rem;
    }

    .aboutUsOurPeople {
        width: 90%;
        padding: 10rem 6rem;
        gap: 3.2rem;
    }

    .aboutUsOurPeopleTitle {
        font-size: 4.4rem;
    }

    .leaderFounderContainer {
        font-size: 2.2rem;
    }
}

@media (max-width: 55rem) {
    .aboutUsMainTitle {
        font-size: 4.2rem;
        left: 38rem;
    }

    .aboutUsMainList {
        width: 100%;
        padding: 14rem 8rem 16rem;
    }

    .aboutUsInfo {
        padding: 1rem;
    }

    .aboutUsMainList {
        padding: 8rem 6rem 8rem 6rem;
    }

    .aboutUsInfoWho {
        font-size: 4rem;
    }

    .aboutUsImgRootInfo {
        height: 32rem;
    }

    .aboutUsImgRoot {
        width: 36rem;
    }

    .aboutUsRootContainer {
        gap: 0.6rem;
        font-size: 1.7rem;
        line-height: 13px;
        text-align: justify;
    }

    .aboutUsRootTop {
        font-size: 2.8rem;
    }

    .aboutUsRootBot {
        font-size: 1.4rem;
    }

    .aboutUsOurPeople {
        width: 90%;
        padding: 10rem 6rem;
        gap: 2.8rem;
    }

    .aboutUsOurPeopleTitle {
        font-size: 4rem;
    }

    .leaderFounderContainer {
        font-size: 2rem;
    }
}





@media (max-width: 40rem) {
    .aboutUsMainList {
        font-size: 2.8rem;
        padding: 12rem 4.4rem 8rem;
        gap: 4rem;
    }

    .aboutUsInfoWho {
        font-size: 5.4rem;

    }

    .aboutUsInfoDes {
        font-size: 2.4rem;
    }

    .aboutUsImgRootInfo {
        height: 35rem;
    }

    .aboutUsImgRoot {
        width: 36rem;
    }

    .aboutUsRootContainer {
        gap: 0.7rem;
        font-size: 2rem;
        line-height: 13px;
        text-align: justify;
    }

    .aboutUsRootTop {
        font-size: 2.6rem;
    }

    .aboutUsRootBot {
        font-size: 1.4rem;
    }


    .aboutUsOurPeople {
        width: 90%;
        padding: 10rem 2.4rem 6rem;
    }

    .aboutUsOurPeopleTitle {
        font-size: 5.4rem;
    }

    .leaderFounderContainer {
        font-size: 3.2rem;
    }

}



@media (max-width: 32rem) {
    .aboutUsMainTitle {
        font-size: 4.6rem;
        left: 30rem;
    }

    .aboutUsMainList {
        font-size: 2.8rem;
        padding: 12rem 4.4rem 8rem;
        gap: 4rem;
    }


    .aboutUsInfoWho {
        font-size: 5.4rem;

    }

    .aboutUsInfoDes {
        font-size: 2.4rem;
    }



    .aboutUsImgRootInfo {
        height: 35rem;
    }

    .aboutUsImgRoot {
        width: 36rem;
    }

    .aboutUsRootContainer {
        gap: 0.7rem;
        font-size: 2rem;
        line-height: 13px;
        text-align: justify;
    }

    .aboutUsRootTop {
        font-size: 2.8rem;
    }

    .aboutUsRootBot {
        font-size: 1.4rem;
    }


}

@media (max-width: 30rem) {
    .aboutUsImgRootInfo {
        height: 24rem;
    }




    .aboutUsImgRootInfo {
        height: 34rem;
    }

    .aboutUsImgRoot {
        width: 36rem;
    }

    .aboutUsRootContainer {
        gap: 0.6rem;
        font-size: 1.8rem;
        line-height: 12px;
        text-align: justify;
    }

    .aboutUsRootTop {
        font-size: 2.6rem;
    }

    .aboutUsRootBot {
        font-size: 1.5rem;
    }
}


@media (max-width: 28rem) {
    .aboutUsMainTitle {
        left: 24rem;
    }
}


@media (max-width: 26rem) {
    .aboutUsMainTitle {
        left: 22rem;
    }

    .aboutUsImgRootInfo {
        height: 32rem;
    }

    .aboutUsImgRoot {
        width: 33rem;
    }

    .aboutUsRootContainer {
        gap: 0.4rem;
        font-size: 1.6rem;
        line-height: 11px;
        text-align: justify;
    }

    .aboutUsRootTop {
        font-size: 2.4rem;
    }

    .aboutUsRootBot {
        font-size: 1.2rem;
    }
}


@media (max-width: 24rem) {
    .aboutUsMainTitle {
        left: 17rem;
    }
}