@media (max-width: 70rem) {
    .Confirm {
        width: 90%;
        padding: 16rem 4.8rem;
    }

    .confirmInfoContainer {
        padding: 1rem;
    }

    .confirmBuyerContainer {
        gap: 2.4rem;
        padding: 2rem;
    }

    .confirmVehicleContainer {
        gap: 2.4rem;
        padding: 2rem;
    }
}

@media (max-width: 55rem) {
    .confirmInfoContainer {
        grid-template-columns: 1fr;
    }

    .confirmBuyerContainer {
        gap: 3.6rem;
    }

    .confirmVehicleContainer {
        gap: 3.6rem;
    }
}