.Company {}

.companyImgTitle {
    position: relative;
}

.companyMainImg {
    width: 100%;
    height: 58rem;
    object-fit: cover;
    filter: brightness(40%);
}

.companyMainTitle {
    position: absolute;
    font-size: 5.2rem;
    color: var(--mainTitle);
    left: 85rem;
    font-weight: bold;
    top: 30rem;
    transform: translateY(-3.6rem);
    animation: titleUp 1s;
}

@keyframes titleUp {
    0% {
        transform: translateY(0);
        filter: opacity(0);
    }
}

.companyMainList {
    font-size: 1.6rem;
    display: flex;
    color: #fff7e3;
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    margin: 0 auto 10rem auto;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 12rem 6rem 8rem 6rem;
}

.companyContainer {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 247, 227, 0.05);
}

.companyLogoName {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    padding: 1rem 2rem;
    background-color: rgba(255, 247, 227, 0.3);
    margin: 0rem 0 4.4rem 0;
    color: var(--normalTitle);
}

.companyLogo {
    height: 16rem;
    filter: brightness(90%);
}

.companyName {
    font-size: 4.4rem;
    font-weight: bold;
}

.companyDescription {
    font-size: 2.4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 4rem;
    text-align: justify;
    color: var(--normalText);
}

.companyLink {
    margin: 1rem 0 10rem 4rem;
    width: fit-content;
}

.btnLink {
    cursor: pointer;
    background: none;
    border: none;
    color: rgb(0, 174, 255);
    font-size: 1.8rem;
}

.btnLink:hover {
    text-decoration: underline;
}